@page "/"
@using Microsoft.AspNetCore.Authorization
@attribute [Authorize]
@inject AuthClient AuthClient

<h1>Dashboard</h1>

<button @onclick="LogOut">Log Out</button>

@code{
    private async Task LogOut()
    {
        await AuthClient.LogoutUserAsync();
    }
}
