@page "/"
@inherits LayoutComponentBase


<h1>Products</h1>

<button @onclick="LoadData">Get Products</button>

<RadzenDataGrid 
    AllowFiltering="true" AllowColumnResize="true" AllowAlternatingRows="false" FilterMode="FilterMode.Advanced" 
    AllowSorting="true" PageSize="15" AllowPaging="true" PagerHorizontalAlign="HorizontalAlign.Left" ShowPagingSummary="true"
    ColumnWidth="300px" LogicalFilterOperator="LogicalFilterOperator.Or" SelectionMode="DataGridSelectionMode.Single"
    Data="@_products">
    <Columns>
        <RadzenDataGridColumn TItem="Product" Property="Id" Title="Id" Width="50px" />
        <RadzenDataGridColumn TItem="Product" Property="Name" Title="Name" />
        <RadzenDataGridColumn TItem="Product" Property="Quantity" Title="Quantity" />
        <RadzenDataGridColumn TItem="Product" Property="Price" Title="Price" />
        <RadzenDataGridColumn TItem="Product" Property="BarCode" Title="Bar Code" />
    </Columns>
</RadzenDataGrid>


@code{
    [Inject]
    private ProductClient ProductClient { get; set; }

    private IEnumerable<Product> _products = new List<Product>();

    private async Task LoadData()
    {
       _products = await ProductClient.GetProducts();
    }
}